.list-header {
    font-size: 1.1rem;
    margin: 9px;
    font-weight: bold;
    color: darkblue;
  }

  .list-header1 {
    font-size: 1.1rem;
    margin: 9px;
    font-weight: bold;
    color :rgb(144, 30, 210);
  }

  ion-item {
    h1{
      font-size: 1.1rem;
      font-weight: bold;
     
     
    }
    h2{
        font-size: 1.0rem;
        
      }
    h3{
        font-size: 1.0rem;
        font-weight: bold;
        color: brown;
      }
      h4{
        font-size: 1.0rem;
       
      }
  }