<ion-header>
  <ion-toolbar class="ion-text-center" color="bluish">
    <ion-title>Marks</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="ion-padding">
    <ion-item>
      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      <ion-input type="text" [(ngModel)]="todolist.task" placeholder="Add a task" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" name="calendar-clear"></ion-icon>
      <ion-input type="text" [(ngModel)]="todolist.dueDate"  placeholder="Set a due date" required></ion-input>
    </ion-item>

    <br>
    <br>

    <ion-button color="bluish" (click)="updateTodo(todolist)" expand="block" fill="solid" >
      <ion-icon slot="end" name="pencil"></ion-icon>
      UPDATE
    </ion-button>
  
    </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="bluish">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
