<ion-header>
  <ion-toolbar class="ion-text-center" color="bluish">
    <ion-title>FAQ Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-text class="ion-text-center">
    <h4>Frequently Ask Question</h4>
  </ion-text>

  <ion-card>
    
    <ion-item>
      <ion-icon color="primary" name="chatbubble-outline" slot="start"></ion-icon>
        <h5>How to change the theme to the dark mode?</h5>
    </ion-item>
  
    <ion-card-content>
      <ion-icon color="dark" name="pencil-outline" slot="end"></ion-icon>
      To chenge to the dark theme, just click the "Dark Mode" button in the homepage.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="primary" name="chatbubble-outline" slot="start"></ion-icon>
      <h5>How to edit and delete the class, task or mark?</h5>
    </ion-item>
  
    <ion-card-content>
      <ion-icon color="dark" name="pencil-outline" slot="end"></ion-icon>
      To delete the list, just slide the list to the left and click the "trash bin" icon.
      To edit the list, click the "create" icon and rewrite the details then click "update" button.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="primary" name="chatbubble-outline" slot="start"></ion-icon>
      <h5>How to mark the task as completed?</h5>
    </ion-item>
  
    <ion-card-content>
      <ion-icon color="dark" name="pencil-outline" slot="end"></ion-icon>
      To mark the completed task, just click the list of tasks that you want to mark as completed.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="primary" name="chatbubble-outline" slot="start"></ion-icon>
      <h5>How to add the class, task and mark?</h5>
    </ion-item>
  
    <ion-card-content>
      <ion-icon color="dark" name="pencil-outline" slot="end"></ion-icon>
      To add the lists, just click the "+" button then fill in the details and click the "cloud" button at the right top of the page to save it.
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-toolbar color="bluish">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
